<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap Example</name>

    <description>
        An example for phonegap build docs.
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Mihnea
    </author>

</widget>



<icon src="iconRomana.png" platform="android" qualifier="ldpi" />
<icon src="iconRomana.png" platform="android" qualifier="mdpi" />
<icon src="iconRomana.png" platform="android" qualifier="hdpi" />
<icon src="iconRomana.png" platform="android" qualifier="xhdpi" />
<icon src="iconRomana.png" platform="android" qualifier="xxhdpi" />
<icon src="iconRomana.png" platform="android" qualifier="fr-xxhdpi" />

<!-- iPhone 6 / 6+ -->
<icon src="iconRomana.png" platform="ios" width="180" height="180" />

<!-- iPhone / iPod Touch  -->
<icon src="iconRomana.png" platform="ios" width="60" height="60" />
<icon src="iconRomana.png" platform="ios" width="120" height="120" />

<!-- iPad -->
<icon src="iconRomana.png" platform="ios" width="76" height="76" />
<icon src="iconRomana.png" platform="ios" width="152" height="152" />

<!-- Settings Icon -->
<icon src="iconRomana.png" platform="ios" width="29" height="29" />
<icon src="iconRomana.png" platform="ios" width="58" height="58" />

<!-- Spotlight Icon -->
<icon src="iconRomana.png" platform="ios" width="40" height="40" />
<icon src="iconRomana.png" platform="ios" width="80" height="80" />

<!-- iPhone / iPod Touch -->
<icon src="iconRomana.png" platform="ios" width="57" height="57" />
<icon src="iconRomana.png" platform="ios" width="114" height="114" />

<!-- iPad -->
<icon src="iconRomana.png" platform="ios" width="72" height="72" />
<icon src="iconRomana.png" platform="ios" width="144" height="144" />

<!-- iPhone Spotlight and Settings Icon -->
<icon src="iconRomana.png" platform="ios" width="29" height="29" />
<icon src="iconRomana.png" platform="ios" width="58" height="58" />

<!-- iPad Spotlight and Settings Icon -->
<icon src="iconRomana.png" platform="ios" width="50" height="50" />
<icon src="iconRomana.png" platform="ios" width="100" height="100" />
