<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "romana.bacromana.example"
        versionCode = "58"
        version     = "5.8.8"
        android-versionCode="104280" 
        >


    <!-- versionCode is optional and Android only -->
    <preference name="DisallowOverscroll" value="true" />


    <!-- start plugin -->
    <!-- <gap:plugin name="cordova-plugin-admob" source="npm" /> -->


    <preference name="permissions" value="none"/>
    <preference name="android-build-tool" value="gradle" />
    <!-- <gap:plugin name="cordova-plugin-admobpro" source="npm" /> -->
    <framework src="com.google.android.gms:play-services-ads:+" />

    <!-- end plugin -->



    <name>Bac cu Brio</name>

    <description>
        An application that helps students learn for the Romanian Baccalaureate.
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        DesignRoom
    </author>
    

</widget>
